<div class="jumbotron" style="background-color: transparent">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">このブログはユーザー登録することで、記事を投稿できるサービスです。</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/signup" role="button">新規ユーザー登録</a>
</div>