<!doctype html>
<html lang="ja">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="https://sindresorhus.com/github-markdown-css/github-markdown.css">
  <title>Blog</title>

  <style>
    body {
      font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
      background-color: #f6f6f6;
    }

    .topBarIcon {
      width: 23px;
    }

    .icon {
      border-radius: 50%;
    }

    .user-icon {
      width: 100px;
      margin: auto;
    }
    .user-list {
      width: 100%;
    }
    .card {
      height: 300px;
    }
    .article-title {
      color: #666969;
      font-weight: lighter;
      font-size: 2rem;
    }
    #markdown-body {
      background-color: #fff;
      padding: 60px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light mb-3 border-bottom shadow-sm" style="background-color: #fff;">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% unless @myself %>
          <li class="nav-item">
            <a class="nav-link" href="/signin">サインイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">サインアップ</a>
          </li>
        <% end %>
        <% if @myself %>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%= session[:user] %>">マイページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edit">新規投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/img/icon.png" class="topBarIcon icon">
              <%= h(@myself.user_name) %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">ユーザー設定</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout">サインアウト</a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>