<link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css">
<style>
  body {
    padding-top: 0;
    display: block;
  }
</style>
<div class="text-center">
<h1>サインアップ</h1>
  <form action="/signup" class="form-signin" method="post">
    <input type="text" name="user_name" class="form-control" placeholder="ユーザー名">
    <input type="email" name="user_email" class="form-control" placeholder="メールアドレス">
    <input type="password" name="password" class="form-control" placeholder="パスワード">
    <input type="password" name="password_confirmation" class="form-control" placeholder="パスワードを再入力">
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="SignIn">
  </form>
</div>